.root {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  border: var(--border-regular-light);
  border-radius: var(--border-radius);
}

.textContainer {
  padding: var(--size-3x);
  text-align: center;

  & .title {
    &:last-child {
      margin-bottom: 0;
    }

    & .link::after {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 1;
    }
  }
}

.badge {
  position: absolute;
  top: var(--size);
  right: var(--size);
}

.imageContainer {
  padding: var(--size-2x);
  border-bottom: var(--border-regular-light);

  & .imageContainerInner {
    position: relative;
    aspect-ratio: 16/9;

    & .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
