.root {
  display: inline-block;
  padding: var(--size);
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  color: var(--color-secondary);
  line-height: var(--line-height-small);
}
