.root {
  background: none;
  border: 0;
  padding: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;

  &.fullWidth {
    width: 100%;
  }

  &.ghost,
  &.outline,
  &.solid,
  &.underlined {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    line-height: inherit;
  }

  &.ghost,
  &.outline,
  &.solid {
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-medium);

    &.small {
      min-height: var(--size-min-tap-target);
      padding: var(--size-half) var(--size);
    }

    &.medium {
      min-height: 6rem;
      padding: var(--size) var(--size-6x);
    }
  }

  &.outline {
    border: 1px solid;
  }

  &.outline,
  &.solid {
    border-radius: var(--border-radius);
  }

  &.underlined {
    &::after {
      content: '';
      width: 100%;
      background-color: currentcolor;
      border-bottom-style: solid;
    }

    &.small {
      font-size: var(--font-size-s);

      &::after {
        border-bottom-width: 1px;
      }
    }

    &.medium {
      font-size: var(--font-size-regular);
      font-weight: var(--font-weight-medium);

      &::after {
        border-bottom-width: 2px;
      }
    }
  }

  &.colorAccent {
    color: var(--color-accent);

    &.solid {
      background: var(--color-accent);
      color: var(--color-primary);
    }
  }

  &.colorPrimary {
    color: var(--color-primary);

    &.solid {
      background: var(--color-primary);
      color: var(--color-secondary);
    }
  }

  &.colorSecondary {
    color: var(--color-secondary);

    &.solid {
      background: var(--color-secondary);
      color: var(--color-primary);
    }
  }
}
