.root {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: var(--size-min-tap-target);
  min-height: var(--size-min-tap-target);
  padding: var(--size) var(--size-2x);
  border: var(--border-regular-light);
  border-radius: var(--border-radius);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);

  &[aria-current="page"] {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
}
