.info {
  justify-self: start;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: column;
  gap: 0 var(--gap-small);
  align-items: center;

  & .title {
    margin-bottom: 0;
  }
  
  & .options {
    color: var(--color-text-light);
  }

  & .thumbnail {
    grid-column: 1;
  }
}

.value {
  padding: 0;
  font-size: var(--font-size-small);

  &.quantity {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: var(--size-2x);
  }

  & .originalPrice {
    display: block;
    font-size: var(--font-size-extra-small);
    color: var(--color-text-light);
    line-height: 1;
    text-decoration: line-through;
    text-align: right;
  }

  & .price {
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-semi-bold);
    line-height: 1;
  }
}
