.root {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: var(--size-2x);
  width: 100%;
}

.name {
  font-weight: var(--font-weight-regular);
}

.deliveryTime {
  font-size: var(--font-size-xs);
}
