.root {
  margin-block: 0;
  font: inherit;

  & > a {
    text-decoration: none;
  }
}

.extraSmall {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  margin-block-end: var(--size);
}

.small {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  margin-block-end: var(--size);
}

.medium {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semi-bold);
  line-height: 1.5;
  margin-block-end: var(--size-5x);
}

.large {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-semi-bold);
  line-height: 1.5;
  margin-block-end: var(--size-5x);
}

.extraLarge {
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-semi-bold);
  line-height: 1.5;
  margin-block-end: var(--size-5x);
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
