.imageContainer {
  position: relative;
  aspect-ratio: 16 / 10;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.images {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: var(--gap-extra-small);
  line-height: 0;
}

.imageContainer + .images {
  margin-top: var(--gap-extra-small);
}
