.currentPrice {
  margin: 0 0 var(--size);
  
  .priceLabel {
    display: block;
    font-size: var(--font-size-s);
    line-height: var(--line-height-small);
  }

  .priceValue {
    margin: 0 0 var(--size-3x);
    font-size: var(--font-size-xl);
  }
}

.oldPrice {
  margin: 0 0 var(--size-2x);
  font-size: var(--font-size-xs);

  & .discount {
    display: block;
    font-weight: var(--font-weight-medium);
    color: var(--color-accent);
  }
}

.disclaimer {
  margin: 0 0 var(--size-2x);
  font-size: var(--font-size-xs);
}
